body {
 font-family: "Zen Dots", Arial, sans-serif;
 margin: 20px;
 background-color: #696969;
}

header {
 color: #ffffff;
 border: 0.1px , solid #e4dcdc44; 
 box-shadow: 0 4px 8px rgba(0,0,0,0.3);
 border-radius: 20px;
 background: #242323;
 padding: 20px;
 text-align: center;
 margin-top: 60px;
 margin-left: 600px;
 margin-right: 600px;
}


header.h1 {
    color: #242323;
 border: 0.1px , solid #44111144; 
 box-shadow: 0 4px 8px rgba(0,0,0,0.3);
 border-radius: 20px;
 background: #c36666;
 padding: 20px;
 text-align: center;
 margin-top: 20px;
 margin-left: 600px;
 margin-right: 600px;
}

header.menu {
  border: 1px solid #44111144;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  border-radius: 20px;
  background: #242323;
  padding: 20px;
  text-align: center;         
  max-width: 600px;           
  margin: 20px auto;          
}


nav a {
 font-size: 35px;
 margin: 0 10px;
 text-decoration: none;
 color: #ffffff;
 align-items: center;
}

nav {
    margin-top: 18px;
    text-align: center;
}

form {
 background: #fff;
 padding: 15px;
 border: 1px solid #ccc;
}